:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Catamaran", sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
  }
  
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }
  
  a {
    color: #444;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }
  
  /* loader */
  .scan-container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #bbd2c5; 
    background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976,
    #bbd2c5
  );
}

  .scan {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
  }
  .scan .loader {
    position: relative;
    width: 400px;
    height: 261px;
    background-size: 300px;
  }
  .scan .loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/blackLogo.jpg);
    background-size: 300px;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      height: 0%;
    }
    50% {
      height: 100%;
    }
  }
  .scan .loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ed8134;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px #ed8134) drop-shadow(0 0 60px #ed8134);
    animation: animate_line 4s ease-in-out infinite;
  }
  @keyframes animate_line {
    0%,
    100% {
      top: 0%;
    }
    50% {
      top: 100%;
    }
  }
  .scan h3 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #ed8134;
    filter: drop-shadow(0 0 20px #3fefef) drop-shadow(0 0 60px #3fefef);
    animation: animate_text 0.6s steps(1) infinite;
  }
  @keyframes animate_text {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  .main-page {
    display: none;
  }
  
  .landing-page {
    display: block;
  }
 /* navbar */
.navbar {
  background: rgb(27, 0, 42);
  min-width: 30px;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0; /* Changed from right: 0; to left: 0; */
  z-index: 2;
  border-right: 1px solid #222; /* Changed from border-left to border-right */
}
.navbar li {
  list-style-type: none;
  padding: 10px 0 10px 0px;
  border-bottom: 1px solid #222;
  transform: translateY(55px);
  text-align: center;
  cursor: pointer;
}
.navbar a {
  color: #aaa;
  text-decoration: none;
  padding: 10px 10px;
}
.navbar li.active {
  background: d#222222;
  opacity: 1;
}
.navbar li:not(.active):hover {
  background: #2c2c2c;
}
.navbar img {
  width: 30px;
  opacity: 0.6;
}
.navbar li:hover img,
.active img {
  opacity: 1;
}

  
  /* section-a */
  .section-a {
    margin: 2rem 0;
  }
  
  .section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .section-a h1 {
    font-size: 4rem;
    color: orangered;
  }
  
  .section-a p {
    margin: 1rem 0;
  }
  
  /* glass-container */
  .glass-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
  }
  .glass-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
  }
  .glass-container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  .glass-container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }
  .glass-container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
  }
  .glass-container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .glass-container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
  }
  .glass-container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
  }
  .glass-container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* section-b */
  .section-b {
    position: relative;
    background: url("assets/jbl.jpg") no-repeat bottom
      center/cover;
    height: 100vh;
  }
  
  .section-b-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
  }
  
  .section-b-inner h3 {
    font-size: 2rem;
  }
  
  .section-b-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;
  }
  
  .section-b-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  .containeer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    flex-direction: column;
  }
  #audio-visual {
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
  }
  #audio-visual .audio-wire {
    height: 50%;
    margin: 0px 3px;
    padding: 0px 1px;
    background-color: rgb(221, 221, 221);
    animation: animateUpDown 0.5s infinite alternate;
  }
  .containeer h1 {
    font-size: 40px;
    font-weight: bolder;
  }
  .containeer p {
    font-size: 12px;
    color: rgb(134, 134, 134);
  }
  #audio-visual .audio-wire-1 {
    animation-delay: 50ms;
  }
  #audio-visual .audio-wire-2 {
    animation-delay: 150ms;
  }
  #audio-visual .audio-wire-3 {
    animation-delay: 300ms;
  }
  #audio-visual .audio-wire-4 {
    animation-delay: 450ms;
  }
  #audio-visual .audio-wire-5 {
    animation-delay: 600ms;
  }
  #audio-visual .audio-wire-6 {
    animation-delay: 450ms;
  }
  #audio-visual .audio-wire-7 {
    animation-delay: 300ms;
  }
  #audio-visual .audio-wire-8 {
    animation-delay: 150ms;
  }
  #audio-visual .audio-wire-9 {
    animation-delay: 50ms;
  }
  @keyframes animateUpDown {
    to {
      height: 90%;
    }
    from {
      height: 50%;
    }
  }
  
  /* slider */
  .section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .section-c .gallery a:first-child {
    /* grid-row-start: 1;
      grid-row-end: 3; */
    grid-row: 1/3;
    grid-column: 1/3;
  }
  
  .section-c .gallery a:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  
  .section-c .gallery img,
  .section-c .gallery a {
    width: 100%;
    height: 100%;
  }
  
  /* footer */
  
  .section-footer {
    background: rgb(27, 0, 42);
    color: #fff;
    padding: 4rem 0;
  }
  
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section-footer h3 {
    margin-bottom: 0.7rem;
  }
  
  .section-footer a {
    line-height: 1.9;
    color: #ccc;
  }
  
  .section-footer a > i {
    color: #555;
    margin-right: 0.5rem;
  }
  
  .email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
  }
  
  /* // .form-control-wrap {
    // 	position: relative;
    // 	display: inline-block;
    // 	width: 100%;
    // } */
  
  .email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
  }
  
  .email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }
  
  /* other style*/
  .btn {
    display: inline-block;
    background: rgb(27, 0, 42);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
  }
  
  .btn:hover {
    background: var(--secondary-color);
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-color);
  }
  
  .fade-out {
    display: none;
  }
  
  .section-d {
    position: relative;
    height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
  
    padding: 40px;
    background: rgb(188, 51, 2);
  }
  
  .cards {
    position: relative;
    list-style-type: none;
    padding: 0;
    max-width: 34em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 550px;
    height: 350px;
    background: #ccc;
    padding: 80px;
    box-shadow: 0 0 40px #000;
    transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
    transform-origin: 0 0;
  
    transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s;
    background: 0.4s linear;
  
    cursor: pointer;
    user-select: none;
  
    /* :last-child { margin-bottom: 0; } */
  }
  
  .card--next {
    z-index: 5;
    transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
  }
  
  .card--out {
    animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
    transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
    z-index: 1;
    background: #bbb;
  }
  
  @keyframes card-out {
    0% {
      z-index: 20;
      transform: translateY(0px) rotate(-4deg);
    }
    50% {
      transform: translateY(-120%) rotate(-5deg) translateX(-40px);
    }
    80% {
      z-index: 1;
    }
    100% {
      transform: translateY(-50px) rotate(8deg) translateX(55px) scale(0.95);
    }
  }
  
  .card--current {
    cursor: auto;
    user-select: auto;
    position: relative;
    z-index: 10;
    opacity: 1;
    background: #eee;
    transform: rotate(-1deg) translateX(0%) scale(1);
  }
  
  /* responsive */
  @media (max-width: 700px) {
    .section-a h1 {
      font-size: 20px;
      margin: 40px 0 0 0;
    }
  
    .section-a p {
      font-size: 12px;
    }
    .section-a a {
      font-size: 10px;
    }
    .section-a {
      height: 100vh;
    }
    .section-a .btn {
      padding: 5px 10px 5px 10px;
    }
  
    .section-b h3 {
      font-size: 20px;
    }
    .section-b h2 {
      font-size: 25px;
    }
    .section-b p {
      font-size: 12px;
    }
  
    .section-c .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .section-c .gallery a:first-child {
      grid-row: 1/1;
      grid-column: 1/1;
    }
  
    .section-c .gallery a:nth-child(2) {
      grid-column: 2/4;
      grid-row: 2/2;
    }
  
    .section-c .gallery a:last-child {
      display: none;
    }
  
    .section-footer {
      padding: 2rem 0;
    }
    .section-footer h2 {
      display: none;
    }
    .section-footer .container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .section-footer div:nth-child(2),
    .section-footer div:nth-child(3) {
      display: none;
    }
    .navbar {
      height: auto;
      text-align: center;
      width: 100%;
    }
    .navbar li {
      display: inline;
      border-bottom: none;
    }
    .card {
      width: 300px;
      height: 550px;
    }
  }
  
  
  /* Product Details  */
  
  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detailsInfoHeadphones canvas{
    opacity: 0.2;
  }
  
  .detailsInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 15px;
    position: absolute;
    top: 20%;
  }
  
  .detailsInfo h1{
    text-align: center;
    width: 40%;
  }
  
  .detailsInfo p{
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
  }
  
  .detailsButton{
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .detailsInfoHeadphones{
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .slider-container {
    margin: 20px;
  }
  
  .reviews{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    color: orangered;
  }
  /* Style the slider */
  .slider {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling for the slider */
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
  }
  
  /* Style each slide */
  .slide {
    flex: 0 0 auto; /* Prevent slides from shrinking */
    width: 300px; /* Set the width of each slide */
    padding: 10px;
    background-color: #f0f0f0;
    margin-right: 10px;
  }
  
  /* Hide horizontal scrollbar */
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  /* Style the scrollbar for Firefox */
  .slider {
    scrollbar-width: none;
  }

  .rev{
    color: orangered;
  }

  .section-e {
    position: relative;
    background: url("assets/speaker.jpeg") no-repeat bottom
      center/cover;
    height: 70vh;
  }
  